body {
    background-image: url("https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    width: 100%;
    height: auto;
    color: white;
}

.name {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

#song {
    margin-top: 2rem;
}